{% extends 'base.html' %}
{% block title %} Checkout {% endblock %}
{% block body %}
<center>
<h1>Thank You!!!!!!!!!!!!!!!!!</h1>
<p>Your Booking is SUCCESSFUL</p>
    <img src="https://thumbs.dreamstime.com/b/concert-ticket-template-concert-party-festival-ticket-design-template-people-crowd-background-entrance-to-event-111449089.jpg" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb" alt="img" data-noaft="1" style="width: 383px; height: 239.375px; margin: 0px;">
    <p>
        To cancel your ticket.
    </p>
    <a href="http://127.0.0.1:5000/cancel" class=" btn btn-primary btn-rounded">
        Click Here
    </a>
    </center>
{% endblock %}